<%- include("header") -%>
<h1>RESERVAR</h1>
<form action="/reservas/crear" method="POST">
  <div>
    <label for="">Desde</label>
    <input type="date" name="desde">
  </div>
  <div>
    <label for="">Hasta</label>
    <input type="date" name="hasta">
  </div>
  <div>
    <label for="">Cantidad de Personas</label>
    <input type="number" name="cantidadPersonas">
  </div> 
  <div>
    <label for="">CBU Cuenta Bancaria</label>
    <input type="text" name="cuentaBancaria">
  </div>
</form>
<p>Monto total: ..</p>
<p>Seña: ..</p> <!--Aca deberia ir un input para adjuntar el comprbante de la seña.. con multer..-->
<%- include("footer") -%>