<%- include("header") -%>
<h1>Crear reserva</h1>
<form action="/reservas/crear" method="POST">
  <div>
    <label for="">Desde</label>
    <input type="date" name="desde">
  </div>
  <div>
    <label for="">Hasta</label>
    <input type="date" name="hasta">
  </div>
  <div>
    <label for="">Cantidad de Personas</label>
    <input type="number" name="cantidadPersonas">
  </div> 
  <div>
    <button type="submit">Siguiente</button>
  </div>
</form>
<%- include("footer") -%>