<footer class="footer-home inner-margin">
    <nav class="nav-footer">
        <a href="https://www.linkedin.com/in/guillermogaidek/">Desarrollado por Guillermo Gaidek</a>
    </nav>
</footer>
</body>
</html>