<footer class="footer-home inner-margin">
    <div class="social social-home">
        <div>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <nav class="nav-footer">
        <a href="https://www.linkedin.com/in/guillermogaidek/">Desarrollado por Guillermo Gaidek</a>
    </nav>
</footer>
</body>
</html>