<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oma Lissi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="main">
        
        <header class="header">
            <div class="menu inner-margin">
                <div class="logo">
                    <a href="/">Oma Lissi</a>
                </div>
                <div class="nav">
                    <a href="#"><i class="fas fa-home"></i><span class="off">Inicio</span></a>
                    <a href="#"><i class="fas fa-envelope"></i><span class="off">Contacto</span></a>
                    <a href="#"><i class="fas fa-camera"></i><span class="off">Fotos</span></a>
                    <a href="#"><i class="fas fa-user-friends"></i><span class="off">Nosotros</span></a>
                    <a href="#"><i class="fas fa-hiking"></i><span class="off">Excursiones</span></a>
                </div>
                <div class="social">
                    <div>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="main-text inner-margin">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate doloribus debitis voluptates rerum soluta vitae, voluptatum qui reiciendis tenetur? Mollitia nihil excepturi sit ullam nam! Debitis culpa molestiae, possimus saepe deserunt veniam facilis a aperiam omnis vel hic sunt labore excepturi illo. Quae, expedita fugit repudiandae iste hic laboriosam?</h1>
            </div>
        </header>
