<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oma Lissi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>  
    <header class="header-home">
        <div class="menu-home">
            <div class="logo logo-home">
                <a href="/"><img id="logoimg-home" src="images/Oma Lissi.png" alt="logo"></a>
            </div>
            <div class="nav">
                <a href="/reservas/crear"><i class="far fa-calendar-alt"></i><span class="off">Reservas</span></a>
                <a href="#"><i class="fas fa-envelope"></i><span class="off">Contacto</span></a>
                <a href="#"><i class="fas fa-map-marked-alt"></i><span class="off">Ubicación</span></a>
            </div>
            <div class="social social-home">
                <div>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="main-text">
            <h1 class="inner-margin">Nuestras cabañas se encuentran ubicadas al pie de las sierras,
                donde junto a su familia podrá disfrutar de la espectacular vista, impactantes atardeceres y sobre todo de la tranquilidad y el descanso.
                Estamos seguros que nuestras instalaciones y servicios y la atención personalizada, 
                junto con el contacto directo con la naturaleza harán que sus vacaciones sean únicas.</h1>
        </div>
    </header>
