<%- include("headerHome") -%>
        <section class="section inner-margin">
          <div class="articles">
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <h3>30 de noviembre 1992</h3>
                  <h2>Titulo del articulo</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium voluptatem recusandae, ipsum perspiciatis voluptatum molestias incidunt consequatur odit fugit quasi illo eaque eum mollitia placeat sapiente impedit doloremque perferendis quidem.</p>
                  <a href="#">Leer m치s</a>
              </article>
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <h3>30 de noviembre 1992</h3>
                  <h2>Titulo del articulo</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium voluptatem recusandae, ipsum perspiciatis voluptatum molestias incidunt consequatur odit fugit quasi illo eaque eum mollitia placeat sapiente impedit doloremque perferendis quidem.</p>
                  <a href="#">Leer m치s</a>
              </article>
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <h3>30 de noviembre 1992</h3>
                  <h2>Titulo del articulo</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium voluptatem recusandae, ipsum perspiciatis voluptatum molestias incidunt consequatur odit fugit quasi illo eaque eum mollitia placeat sapiente impedit doloremque perferendis quidem.</p>
                  <a href="#">Leer m치s</a>
              </article>
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <h3>30 de noviembre 1992</h3>
                  <h2>Titulo del articulo</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium voluptatem recusandae, ipsum perspiciatis voluptatum molestias incidunt consequatur odit fugit quasi illo eaque eum mollitia placeat sapiente impedit doloremque perferendis quidem.</p>
                  <a href="#">Leer m치s</a>
              </article>
              <nav class="navegation">
                  <div class="nav-line">
                  <a href="#"><span class="off-nav-art">Inicio</span></a>
                  <a href="#">1</a>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#"><span class="off-nav-art">Final</span></a>
                  </div>
              </nav>
          </div>
          <aside class="aside">
              <div class="publicity">
                  <h4>Aside</h4>
                  <img src="/images/2.png" alt="omalissi">
              </div>
              <div class="publicity">
                  <h4>Aside</h4>
                  <img src="/images/2.png" alt="omalissi">
              </div>
              <div class="publicity">
                  <h4>Aside</h4>
                  <img src="/images/2.png" alt="omalissi">
              </div>
              <div class="publicity">
                  <h4>Aside</h4>
                  <img src="/images/2.png" alt="omalissi">
              </div>
          </aside>
      </section>
<%- include("footer") -%>
