<%- include("headerHome") -%>
        <section class="section inner-margin">
          <div class="articles">
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <h2>Piscina</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium voluptatem recusandae, ipsum perspiciatis voluptatum molestias incidunt consequatur odit fugit quasi illo eaque eum mollitia placeat sapiente impedit doloremque perferendis quidem.</p>
                  <a href="#">Galería</a>
              </article>
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <h2>Predio</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium voluptatem recusandae, ipsum perspiciatis voluptatum molestias incidunt consequatur odit fugit quasi illo eaque eum mollitia placeat sapiente impedit doloremque perferendis quidem.</p>
                  <a href="#">Galería</a>
              </article>
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <h2>Cabañas</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium voluptatem recusandae, ipsum perspiciatis voluptatum molestias incidunt consequatur odit fugit quasi illo eaque eum mollitia placeat sapiente impedit doloremque perferendis quidem.</p>
                  <a href="#">Galería</a>
              </article>
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <h2>Instalaciones</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium voluptatem recusandae, ipsum perspiciatis voluptatum molestias incidunt consequatur odit fugit quasi illo eaque eum mollitia placeat sapiente impedit doloremque perferendis quidem.</p>
                  <a href="#">Galería</a>
              </article>
          </div>
          <aside class="aside">
              <div class="publicity">
                  <h4>Sobre Nosotros</h4>
                  <img src="/images/2.png" alt="omalissi">
              </div>
              <div class="publicity">
                  <h4>Excurciones</h4>
                  <img src="/images/2.png" alt="omalissi">
              </div>
              <div class="publicity">
                  <h4>Información Útil</h4>
                  <img src="/images/2.png" alt="omalissi">
              </div>
          </aside>
      </section>
<%- include("footerHome") -%>
