<%- include("headerHome") -%>
        <section class="section inner-margin">
          <div class="articles">
              <article class="article">
                  <img src="/images/2.png" alt="oma lissi">
                  <div class="sub-art">
                    <h2>PISCINA</h2>
                    <a href="#">Galería</a>
                </div>
                  <p>Contamos con una gran Piscina de 70 m2, de diseño exclusivo,donde podrá disfrutar de su solado húmedo o su máxima profundidad (1,80mts). Además la misma esta rodeada de un solarium panorámico con piso atérmico y antideslizante de 300 m2 con reposeras de madera, sombrillas caribeñas y una importante iluminación.</p>
              </article>
              <article class="article">
                <img src="/images/cabaña.png" alt="oma lissi">
                <div class="sub-art">
                    <h2>CABAÑAS</h2>
                    <a href="#">Galería</a>
                </div>
                  <p>Las cabañas tienen una capacidad para 4 personas, con habitación privada con sommier matrimonial, balcón y un entrepiso con dos camas individuales. Todas las cabañas cuentan con vista impresionante a las Sierras y al Valle de Conlara. Además se encuentran equipadas con cocina completa con Microondas, vajilla completa, servicio de Mucama 3 días a la semana, ropa blanca, aire Acondicionado frío/calor, ventilador de techo, estufa de tiro balanceado y TV por cable.</p>
              </article>
              <article class="article">
                  <img src="/images/predio.png" alt="oma lissi">
                  <div class="sub-art">
                    <h2>PREDIO</h2>
                    <a href="#">Galería</a>
                </div>
                  <p>Amplio parque de 4000m2 para poder disfrutar comodamente de todas las actividades.</p>
              </article>
              <article class="article">
                  <img src="/images/5.png" alt="oma lissi">
                  <div class="sub-art">
                    <h2>INSTALACIONES</h2>
                    <a href="#">Galería</a>
                </div>
                  <p>Cada cabaña tiene parrilla privada e individual, cochera cubierta, canchita de fútbol y juegos para niños.</p>
              </article>
          </div>
          <aside class="aside">
              <div class="publicity">
                  <h4>Sobre Nosotros</h4>
                  <img src="/images/nosotros.png" alt="omalissi">
              </div>
              <div class="publicity">
                  <h4>Excurciones</h4>
                  <img src="/images/excursiones.png" alt="omalissi">
              </div>
              <div class="publicity">
                  <h4>Información Útil</h4>
                  <img src="/images/info.png" alt="omalissi">
              </div>
          </aside>
      </section>
<%- include("footerHome") -%>
