<%- include("header") -%>
<h1>Perfil</h1>
<a href="/usuarios/perfil/<%= usuarioLogeado %> "><h2>Mis Datos</h2></a>
<a href="/reservas/crear"><h2>Crear Reserva</h2></a>
<a href="/reservas/listado"><h2>Mis Reservas</h2></a>
<%- include("footer") -%></div>